frontend/.expo-shared/
frontend/.expo/
backend/posts/migrations/*
backend/authentication/migrations/*
backend/adminconsole/migrations/*
backend/adminconsole/__pycache__/
backend/authentication/migrations/__pycache__/
backend/backend/__pycache__/
**/__pycache__/
**/*.pyc
backend/venv/
.metals/
.vscode/
**/migrations/*
**/migrations/**
!**/migrations
!**/migrations/__init__.py
backend/media/
frontend/screens/UploadImage.js
frontend/screens/LoginScreen0.js
frontend/screens/SignupScreen0.js
frontend/node_modules/
gfoodie